.player {
    &__progress {
        width: 100%;
        -webkit-appearance: none;
        background-color: lighten(#303030, 20%);
        border-radius: 10px;

        &::-webkit-slider-thumb,
        &::-moz-range-thumb,
        &::-ms-thumb {
            border-radius: 50%;
            background-color: red;
        }
    }
}